.dashboard {
    width: 70%;
    margin: 1rem auto 1rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    padding: 0px 30px;
    margin: -2px;
}

.admin-icons {
    display: flex;
    gap: 15px;
    margin: 3px;
}

.modal.show .modal-dialog {
    text-align: -webkit-center;
}

.img-admin {
    background-color: white;
    mix-blend-mode: darken;
    width: 50%;
    align-self: center;
}