.carrito-detail-trash{
    margin: 4px 0;
  }
  .carrito-detail-trash a {
    border: solid 2px red;
    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
    background-color: transparent;
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
    display: flex;
    align-items: center;
  }
  .carrito-detail-trash a:hover{
    color: rgba(94, 84, 142, 1);
    border-color: rgba(94, 84, 142, 1);
    font-weight: bold;
  }