.edit-view {
    display: flex;
    justify-content: center;
}

.edit-form {
    text-align: center;
}

.img-edit {
    background-color: white;
    mix-blend-mode: darken;
    width: 50%;
    align-self: center;
}