<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Tierras Magicas',
      }) %>

  <body>
    <h1>Lista de Personajes</h1>
   
    <%- include('partials/card') %>

    <script src="/js/all.js"></script>
  </body>
</html>
