<!DOCTYPE html>
<html lang="en">
    
  <%- include('partials/head',{
     title : 'Tierras Magicas',
      }) %>

  <body>
    <main>
     
    </main>

    <%- include('partials/footer') %>

    <script src="/js/all.js"></script>
  </body>
</html>
