<header>
    <a href="/"> <h1>Tierras Magicas</h1></a>
    <nav>
        <h5><a href="/character/add">Agregar</a></h5>
        <h5><a href="/character/admin">Administrador</a></h5>
        <h5><a href="/character/all">Todos</a></h5>
    </nav>
</header>